## Part 1: Preprocessing

In [57]:
pip install scikit-learn pandas numpy tensorflow

Requirement already satisfied: scikit-learn in /Users/solo/anaconda3/lib/python3.11/site-packages (1.3.0)
Requirement already satisfied: pandas in /Users/solo/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: numpy in /Users/solo/anaconda3/lib/python3.11/site-packages (1.24.3)
Requirement already satisfied: tensorflow in /Users/solo/anaconda3/lib/python3.11/site-packages (2.16.2)
Requirement already satisfied: scipy>=1.5.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/solo/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: absl-py>=1.0.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.31.0)
Requirement already satisfied: setuptools in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (68.0.0)
Requirement already satisfied: six>=1.12.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (4.7.1)
Requirement already satisfied: wrapt>=1.11.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.64.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (3.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: rich in /Users/solo/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (13.7.1)
Requirement already satisfied: namex in /Users/solo/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /Users/solo/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.12.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/solo/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/solo/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/solo/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow) (2.1.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/solo/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /Users/solo/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [58]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [59]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [60]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [61]:
# Create a list of at least 10 column names to use as X data
X_columns = [
    'Age',
    'PerformanceRating',
    'DistanceFromHome',
    'Education',
    'EnvironmentSatisfaction',
    'HourlyRate',
    'JobInvolvement',
    'JobLevel',
    'NumCompaniesWorked',
    'OverTime'
]


# Create X_df using your selected columns
X_df = attrition_df[X_columns].copy()


# Show the data types for X_df
X_df.dtypes

Age                         int64
PerformanceRating           int64
DistanceFromHome            int64
Education                   int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
NumCompaniesWorked          int64
OverTime                   object
dtype: object

In [62]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [63]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()

X_df['OverTime'] = label_encoder.fit_transform(X_df['OverTime'])

print(X_df.dtypes)
X_df.head()

Age                        int64
PerformanceRating          int64
DistanceFromHome           int64
Education                  int64
EnvironmentSatisfaction    int64
HourlyRate                 int64
JobInvolvement             int64
JobLevel                   int64
NumCompaniesWorked         int64
OverTime                   int64
dtype: object

,Age,PerformanceRating,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,NumCompaniesWorked,OverTime
0,41,3,1,2,2,94,3,2,8,1
1,49,4,8,1,3,61,2,2,1,0
2,37,3,2,2,4,92,2,1,6,1
3,33,3,3,4,4,56,3,1,1,1
4,27,3,2,1,1,40,3,1,9,0

In [64]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()

# Fit and transform the label encoder on the training data
X_train['OverTime'] = label_encoder.fit_transform(X_train['OverTime'])

# Transform the testing data using the fitted encoder
X_test['OverTime'] = label_encoder.transform(X_test['OverTime'])

print(X_train.dtypes)
X_train.head()

# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data and testing Data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Age                        int64
PerformanceRating          int64
DistanceFromHome           int64
Education                  int64
EnvironmentSatisfaction    int64
HourlyRate                 int64
JobInvolvement             int64
JobLevel                   int64
NumCompaniesWorked         int64
OverTime                   int64
dtype: object

In [65]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder

ohc = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_df_encoded = ohc.fit_transform(y_df[["Department"]])


# Create two new variables by applying the encoder
# to the training and testing data


y_test_encoded_dept = ohc.transform(y_test[['Department']])
y_df_encoded

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [66]:
# Create a OneHotEncoder for the Attrition column
ohc = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_df_encoded_att = ohc.fit_transform(y_df[["Attrition"]])

# Create two new variables by applying the encoder
# to the training and testing data
y_test_encoded_att = ohc.transform(y_test[['Attrition']])
y_df_encoded_att

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

## Create, Compile, and Train the Model

In [67]:
# Find the number of columns in the X training data
num_columns_X_train = X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(num_columns_X_train,), name='input_features')


# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [68]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer
department_hidden_layer = layers.Dense(64, activation='relu')(shared_layer2)
department_output = layers.Dense(3, activation='softmax', name='department_output')(department_hidden_layer)

In [69]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer
attrition_hidden_layer = layers.Dense(32, activation='relu')(shared_layer2)

attrition_output = layers.Dense(2, activation='softmax', name='attrition_output')(attrition_hidden_layer)

In [70]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])


# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})


# Summarize the model

model.summary()

Model: "functional_2"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_8 (Dense)     │ (None, 64)        │        704 │ input_features[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_9 (Dense)     │ (None, 32)        │      2,080 │ dense_8[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_10 (Dense)    │ (None, 64)        │      2,112 │ dense_9[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_11 (Dense)    │ (None, 32)        │      1,056 │ dense_9[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 3)         │        195 │ dense_10[0][0]    │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 2)         │         66 │ dense_11[0][0]    │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 6,213 (24.27 KB)

 Trainable params: 6,213 (24.27 KB)

 Non-trainable params: 0 (0.00 B)

In [81]:
# Train the model
history = model.fit(X_df, {'department_output': y_df_encoded, 'attrition_output': y_df_encoded_att}, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - attrition_output_accuracy: 0.8427 - department_output_accuracy: 0.6717 - loss: 1.1343 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.2989
Epoch 2/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8522 - department_output_accuracy: 0.6615 - loss: 1.1141 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.2869
Epoch 3/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8460 - department_output_accuracy: 0.6536 - loss: 1.1526 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.2893
Epoch 4/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - attrition_output_accuracy: 0.8606 - department_output_accuracy: 0.6808 - loss: 1.1033 - val_attrition_output_accuracy: 0.8639 - val_department_output_accuracy: 0.6054 - val_loss: 1.2904
Epoch 5/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - attrition_output_accuracy: 0.8468 - department_output_accuracy: 0.6673 - loss: 1.1402 - val_attrition_output_accuracy: 0.8639 - val_department_output_accuracy: 0.6020 - val_loss: 1.3124
Epoch 6/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - attrition_output_accuracy: 0.8367 - department_output_accuracy: 0.6561 - loss: 1.1484 - val_attrition_output_accuracy: 0.8639 - val_department_output_accuracy: 0.5986 - val_loss: 1.2744
Epoch 7/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - attrition_output_accuracy: 0.8602 - department_output_accuracy: 0.6685 - loss: 1.1031 - val_attrition_output_accuracy: 0.8605 - val_department_output_accuracy: 0.5986 - val_loss: 1.2413
Epoch 8/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - attrition_output_accuracy: 0.8454 - department_output_accuracy: 0.6780 - loss: 1.0882 - val_attrition_output_accuracy: 0.8571 - val_department_output_accuracy: 0.6122 - val_loss: 1.2403
Epoch 9/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - attrition_output_accuracy: 0.8520 - department_output_accuracy: 0.6681 - loss: 1.0937 - val_attrition_output_accuracy: 0.8639 - val_department_output_accuracy: 0.6088 - val_loss: 1.2603
Epoch 10/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - attrition_output_accuracy: 0.8583 - department_output_accuracy: 0.6643 - loss: 1.0851 - val_attrition_output_accuracy: 0.8605 - val_department_output_accuracy: 0.6020 - val_loss: 1.2534

In [93]:
# Evaluate the model with the testing data
results = model.evaluate(X_test_scaled, 
                         {'department_output': y_test_encoded_dept, 
                          'attrition_output': y_test_encoded_att})

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - attrition_output_accuracy: 0.4886 - department_output_accuracy: 0.4068 - loss: 1.7909

In [92]:
# Print the accuracy for both department and attrition
if len(results) >= 5:
    print(f"Department predictions accuracy: {results[3]:.2f}")
    print(f"Attrition predictions accuracy: {results[4]:.2f}")
else:
    print("Unexpected results structure:", results)

Unexpected results structure: [1.7973674535751343, 0.49184781312942505, 0.4103260934352875]

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. The data seems to be relatively imbalanced; perhaps something like F1 score or balanced accuracy would be better.

2. For the department output layer, we used the softmax activation function since it's a multi-class classification problem. For the attrition output layer, we used the sigmoid activation function as it's a binary classification problem.

3. Try different optimizers or learning rates, Use more features or engineer new features, Use regularization techniques to prevent overfitting